doctype 5
html
  head
    meta(charset='utf-8')
    title=strings.meta_title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=strings.meta_description)
    meta(name='author', content=strings.meta_author)
    meta(name='keywords', content=strings.meta_keywords)
    meta(name='robots', content=strings.meta_robots)

    link(rel='shortcut icon', href=app.CFD + '/img/favicon.ico')
    link(type='text/css', rel='stylesheet', href=app.CFD + '/vendor/bootstrap/bootstrap-2.2.1/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href=app.CFD + '/vendor/bootstrap/bootstrap-2.2.1/css/bootstrap-responsive.min.css')
    block styles
  body
    block body
    script(type='text/javascript')
      window.app = {};
      window.app.BASE_URL = '#{app.BASE_URL}';
      window.app.CFD = '#{app.CFD}';
      window.app.HOST = '#{app.HOST}';
      window.app.PROTOCOL = '#{app.PROTOCOL}';
      window.app.THEME = '#{app.THEME}';
      window.app.URL = '#{app.URL}';
      window.app.VERSION = '#{app.VERSION}';
      window.app.CFD_THEME = '#{app.CFD_THEME}';
    block script
      if (typeof(javascript) != 'undefined')
        // Page variables.
        script(type='text/javascript')
          window.app.page = {};
        each val, key in javascript
          script(type='text/javascript')
            window.app.page.#{key} = #{val};
    block scripts
      script(type='text/javascript', id='script', data-src='')
    script(type='text/javascript', charset='utf-8', id='requirejs', src=app.CFD + '/vendor/requirejs/require_jquery-2.1.2_1.8.2.min.js', data-main=app.CFD + '/' + app.THEME + '/js/main')